<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DaysSince.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DaysSinceShared.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DaysSinceWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2253E8891AAE850C00A16E58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2253E8A51AAE850C00A16E58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22B15D401AB3F964007395C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22B15D4A1AB3F964007395C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22B15D691AB40353007395C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
